<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat-da-burger</title>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
		<!-- My Stylesheet -->
		<link rel="stylesheet" href="static/assets/css/burger_style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>